<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">Ascii-Art-Web Generator</h1>
</head>
<body>
    <form action="/ascii-art" method="post">
        <textarea name="text"></textarea>
<input type="radio" name="banner" value="standard" checked> Standard
<input type="radio" name="banner" value="shadow"> Shadow
<input type="radio" name="banner" value="thinkertoy"> Thinkertoy
        <button type="submit"> Generate </button>
    </form>
    <pre>{{ .Result }}</pre>
{{ if .ErrorMessage }}
<p style="color: red;">{{ .ErrorMessage }}</p>
{{ end }}
</body>
</html>